@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

body {
	height: 100%;
	-webkit-text-size-adjust:100%;
}

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
}


table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

td, th, caption {
	margin: 0px;
	padding: 0px;
	height: 100%;
	border: none;
	text-align: left;
	vertical-align: top;
}

img, fieldset {
	border: 0;
}

ol {
	padding-left: 1.4em;
	list-style: decimal;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

q:before, q:after {
	content: '';
}

a {
	text-decoration: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0!important;
	outline-color: transparent!important;
	outline-width: 0!important;
	outline-style: none!important;
	box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 2px solid #a9a9a9;
	-webkit-text-fill-color: #000;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
	font-family: Nekst, sans-serif;
}
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
	outline:none;
}
input::-webkit-input-placeholder {color:#a9a9a9;}
input::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
input:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#a9a9a9;}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.2s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.2s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.2s ease;}

textarea::-webkit-input-placeholder {color:#a9a9a9;}
textarea::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color:#a9a9a9;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.2s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.2s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.2s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.2s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.2s ease;}

textarea {
	resize: none;
}
textarea::-webkit-scrollbar {
	width: 4px;
}

textarea::-webkit-scrollbar-track {
	background-color: #F0F0F0;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #979797;
	outline: 1px solid #979797;
}
input,
textarea,
button {
	font-family: Nekst, sans-serif;
}
:focus-visible {
	outline: none !important;
}
